
openapi: 3.0.0
info:
  title: Sample API
  version: 1.0.0
servers:
  - url: /api/v1
paths:
  /hello:
    get:
      summary: Say Hello
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Hello World"
