[submodule "synapse-engine"]
	path = synapse-engine
	url = https://github.com/synapse-engine/synapse.git

[submodule "apicentric_repo"]
	path = apicentric_repo
	url = https://github.com/pmaojo/apicentric.git
